.Add-books__form {
    display: flex;
    flex-direction: column;
    margin-top: 145px;
    align-content: center;

    @media all and (min-width:768px) {
        margin-top: 120px;
    }
}

.Form__title-label, .Form__author-label, .Form__genre-label, .Form__price-label {
    font-size: 10px;
    font-weight: 700;
    color: $fucsia;
    margin-bottom: 10px;

    @media all and (min-width:768px) {
        font-size: 14px;
    }
}

.Form__title-input, .Form__author-input, .Form__genre-input, .Form__price-input {
    height: 15px;
    width: 275px;
    border-radius: 15px;
    outline: none;
    margin-bottom: 20px;
    font-size: 8px;

    @media all and (min-width:768px) {
        height: 20px;
        width: 500px;
        font-size: 12px;
    }
}

.Send-button__container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.Send-books__button {
    border-radius: 15px;
    font-size: 10px; 
    font-weight: 700;   
    width: 55px;
    height: 25px;
    background-color: $blue; 
    color: $yellow;
    outline: none;

    @media all and (min-width:768px) {
        width: 70px;
        height: 30px;
        font-size: 12px;       
    }
}

.Submission-message {
    color: $dark-blue;
    font-size: 10px;
    text-align: center; 

    @media all and (min-width:768px) {
        font-size: 15px;
    }  
}

.Error-message {
    color: $dark-blue;
    font-size: 10px;
    text-align: center; 

    @media all and (min-width:768px) {
        font-size: 15px;
    } 
}

.Hidden {
    display: none;
}