.Book__card {
    list-style: none;
    width: 150px;
    height: 225px;
    display: flex;
    flex-direction: column;
    background-color: $white;
    box-shadow: 5px 10px 13px $dark-blue;
    margin: 0 10px 25px 10px;
    border-radius: 8px;

    @media all and (min-width:768px) {
        width: 250px;
        height: 350px;
        margin: 0 30px 25px 30px;
        border-radius: 10px;
    }
}

.Book-top__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0 25px 0;

    @media all and (min-width:768px) {
        margin: 30px 0 55px 0; 
    }
}

.Book__logo {
    width: 10px;
    height: 10px;
    margin-left: 15px;
    
    @media all and (min-width:768px) {
        width: 20px;
        height: 20px;
        margin-left: 25px;
    }
}

.Action-buttons__container {
    display: flex;
    justify-content: flex-end;  
    margin-right: 10px;

    @media all and (min-width:768px) {
        margin-right: 25px;
    }
}

.Edit-button, .Delete-button {
    border: none;
    outline: none; 
}

.Book__info {
    text-align: center;
    font-size: 10px;
    margin: 0 10px;

    @media all and (min-width:768px) {
        font-size: 14px;
        margin: 0 20px;
    }
}

.Book__title {
   font-weight: 700;
   text-justify: justify;
   margin: 0 10px 10px;
   height: 38px;

   @media all and (min-width:768px) {
        height: 48px;
        margin: 0 20px 30px;
    }
}

.Book__author {
    color: $dark-blue;
    font-weight: 700;
    margin: 0 10px 10px;
    height: 38px;
 
    @media all and (min-width:768px) {
        height: 48px;
        margin: 0 20px 30px;
    }
}

.Book__genre {
    color: $fucsia;
    font-weight: 700;
    margin: 0 10px 10px;

    @media all and (min-width:768px) {
        margin: 0 20px 20px;
    }
}

.Book__price {
    color: $green;
    font-weight: 700;
    margin: 0 10px;
  
    @media all and (min-width:768px) {
        margin: 0 20px;
    }
}