.Book__card {
    list-style: none;
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: $white;
    box-shadow: 5px 10px 13px $dark-blue;
    margin: 0 10px 15px 10px;
    border-radius: 8px;

    // @media all and (min-width:600px) {
       
    // }
}

.Book__logo {
    width: 20px;
    height: 20px;
    margin-left: 15px;
}

.Action-buttons__container {
    display: flex;
    justify-content: flex-end;  
    margin: 15px 0 15px 0;
}

.Edit-button {
    border: none;
    outline: none;
}

.Delete-button {
    border: none;
    outline: none;
}
.Book__info {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    text-align: center;
    font-size: 15px;
}

.Book__title {
   font-weight: 700;
   text-justify: justify;
   padding: 5px;
}

.Book__author {
    color: $dark-blue;
    font-weight: 700;
}

.Book__genre {
    color: $fucsia;
    font-weight: 700;
    font-size: 13px;
}

.Book__price {
    color: $green;
    font-weight: 700;
}