.Modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:$blue;
    width: 800px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media all and (min-width:768px) {
        width: 100vw;
    }
}

.Modal .Form__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $blue;
    height: 600px;
    width: 400px;
   
    @media all and (min-width:768px) {
    width: 600px;
    }
}

.Modal .Add-books__form {
    margin: 0;

    @media all and (min-width:768px) {
        width: 600px;
    }
}

.Modal__close-button-container {
    align-self: flex-end;
    width: 50px;
    margin:0 10px 40px 0;
}

.Modal__close-button {
    outline: none;
    border: none;
    background-color: $blue;
}

.fas{
    font-size: 15px;

    @media all and (min-width:768px) {
        font-size: 20px;
    }
}

.Modal .Send-button__container {
    align-self: flex-end;  
    margin-right: 35px; 

    @media all and (min-width:768px) {
            margin-right: 0; 
    }
}






    