@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');
@import 'settings';
@import 'menu';
@import 'show-books';
@import 'book-card';
@import 'add-books'






// .Books__container {
//     list-style: none;   
//     display: flex;
// }

// .Book__card {
//     background-color: white;
//     width: 350px;
//     height: 250px;
//     margin-right: 15px;
//     display: flex;
//     flex-direction: column;
// }

// .Action-buttons__container {
//   width: 350px;
//   align-items:space-between;
//   margin-bottom: 20px;
//   background-color: green;  
//   display: flex;
//   justify-content: flex-end;
// }

// .Book__info {
//     text-align: center;
// }





// .App__main-section {
//     background-color: darkorange;
// }

// .Search-fields__container {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

// .Genre__field {
//     width: 300px;
//     height: 25px;
//     margin-top: 40px;
//     margin-bottom: 20px;
//     border-radius: 15px;
//     border: none;
//     outline: none;
// }
// .Title__field {
//     width: 300px;
//     height: 25px;
//     margin-bottom: 80px;
//     border-radius: 15px;
//     border: none;
//     outline: none;
// }

// .Genre__field::placeholder {
//     padding-left: 15px;
// }

// .Title__field::placeholder {
//     padding-left: 15px;
// }

// .Books__container {
//     list-style: none;   
//     display: flex;
// }

// .Book__card {
//     background-color: white;
//     width: 350px;
//     height: 250px;
//     margin-right: 15px;
//     display: flex;
//     flex-direction: column;
// }

// .Action-buttons__container {
//   width: 350px;
//   align-items:space-between;
//   margin-bottom: 20px;
//   background-color: green;  
//   display: flex;
//   justify-content: flex-end;
// }

// .Book__info {
//     text-align: center;
// }

/* Modal styles */

/* The gray background
    const backdrop = {
      position: 'fixed',
      top: 0,
      bottom: 0,
      left: 0,
      right: 0,
      backgroundColor: 'rgba(0,0,0,0.3)',
      padding: 50
    };

    The modal "window"
    const modal = {
      backgroundColor: '#fff',
      borderRadius: 5,
      maxWidth: 500,
      minHeight: 300,
      margin: '0 auto',
      padding: 30
    }; */
